bin/
obj/
.idea/
cmake*/
build/
*.cbp
*.depend
*.layout
*.a
*.so.1
*.o
*.exe
*.pyc
.cache/
tools/net_clusters/raw_output/
tools/net_clusters/*.xyz
.pytest_cache/
.DS_Store
docs/doctrees/*
.idea_C/
dist/
/venv
/tcc_python.egg-info
